* {
    margin: 0;
    padding: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
}

.container {
    max-width: 80%;
    margin: 0 auto;
}
.containerRelatorio {
    max-width: 80%;
    margin: 0 auto;

}

.linha {
    display: flex;
}

.coluna {
    min-width: 300px;
    padding: 15px 0;
}

.header {
    background-color: #f5f5f5;
    display: flex;
    align-items: center;
    height: 70px;
    border-bottom: #068574 3px solid;
}

.header h1 {
    font-size: 30px;
    color: #119b9b;
}

.logo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    margin: 0 8%;
    font-size: 19px;
    color: #119b9b;
}

.logo img {
    width: 40px;
    height: 40px;
    margin: 10px 8px;
}

.menu__usuario {
    display: flex;
    justify-content: flex-end;
    background-image: url("../assets/img/profile.svg");
    background-size: contain;
    width: 30px;
    height: 1200px;
    margin: 10px 8px;
}

h2 {
    color: #079797;
    font-size: 22px;
    margin-top: 50px;
}

hr {
    border: 0.5px solid;
    border-color: #464646;
    margin-bottom: 60px;
}

.form {
    margin: 20px auto;
    width: 100%;
    min-width: 360px;
    max-width: 1900px;
}

.campo {
    display: block;
    width: 80%;
    padding: 0.9rem;
    margin: 5px 0;
    font-size: 1rem;
    line-height: 1.5rem;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.campo.-radio {
    width: unset;
}

.btn {
    width: 150px;
    height: 40px;
    border-radius: 5px;
    border: none;
    text-align: center;
    line-height: 40px;
    background-color: #119b9b;
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
    color: #f5f5f5;
    margin-right: 20px;
    cursor: pointer;
    transition: 300ms;
}
.btn.btn-PercentualFilial {
    background-color: #119b9b;
    width: 200px;
    height: 80px;

}
.btn.btn-TotalFilial {
    background-color: #119b9b;
    width: 200px;
    height: 80px;
}
.btn.btn-TopMaisVendidos {
    background-color: #119b9b;
    width: 200px;
    height: 80px;

}

.btn.btn-salvar {
    background-color: rgb(79, 202, 79);
}
.btn.btn-salvar:hover {
    background-color: rgb(51, 172, 51);
}
.btn.btn-cancelar {
    background-color: #e41515;
}

.btn.btn-cancelar:hover {
    background-color: #bb1212;
}

.btn:hover {
    text-decoration: none;
    background-color: #068574;
    border-color: #068574;
}

.pesquisa {
    display: flex;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    min-width: 50%;
}

.txt__pesquisa {
    background-color: transparent;
    font-size: 18px;
    border: none;
    height: 32px;
    width: 460px;
}

.btn__pesquisa {
    width: 20px;
    height: 20px;
    margin: 10px 8px;
}
.obrigatorio {
    color: #ff0000;
    font-style: italic;
    font-size: 18px;
}


table {
    border-radius: 5px;
    border-collapse:collapse ;
    width: 40em;
    border: 1px solid #ced4da;
}
thead {
    border-top: 1px solid #a5a5a5;
    border-bottom: 1px solid #a5a5a5;
    border: 1px solid #ced4da;

}
tr:hover {
    background-color:#3d80df;
    color: #fff;
}
thead tr:hover {
    background-color: transparent;
    color: inherit;
}
th {
    font-weight: normal;
    text-align: left;
    border-radius: 10px;
}
th, td {
    padding: 0.2em 2em;
}
.btn-PesquisaRelatorio{
    width: 200px;
    height: 50px;
    border-radius: 5px;
    border: none;
    text-align: center;
    line-height: 40px;
    background-color: #119b9b;
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
    color: #f5f5f5;
    margin-right: 20px;
    cursor: pointer;
    transition: 300ms;


}

