* {
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
}
/* HEADER */
.header {
  background-color: #f5f5f5;
  display: flex;
  align-items: center;
  height: 70px;
  border-bottom: #068574 3px solid;
}

.header h1 {
  font-size: 30px;
  color: #119b9b;
}

.logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  margin: 0 8%;
  font-size: 19px;
  color: #119b9b;
}

.logo img {
  width: 40px;
  height: 40px;
  margin: 10px 8px;
}

.menu__usuario {
  display: flex;
  justify-content: flex-end;
  background-image: url("../assets/img/profile.svg");
  background-size: contain;
  width: 30px;
  height: 1200px;
  margin: 10px 8px;
}

.menu{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  background-color: #0b3a3a;
  width: 100%;
  height: 40px;
}

.menu a{
  color: #f5f5f5;
  font-size: 13px;
  text-decoration: none;
  text-transform: uppercase;
  padding: 30px;
}

/* TÍTULO DA PÁGINA */
h2 {
  color: #079797;
  font-size: 25px;
  margin-top: 50px;
}

hr {
  border: 0.5px solid;
  border-color: #464646;
  margin-bottom: 60px;
}

/* CONTAINER DAS PÁGINAS GERAIS */
.container {
  max-width: 80%;
  margin: 0 auto;
}

/* Container Everton - Modificar as páginas html, pois não será necessário*/
.containerRelatorio {
  max-width: 80%;
  margin: 0 auto;
}

/* CONTAINER DA PÁGINA DE MENU PRINCIPAL */
.container__menu__principal{
  display: flex;
  flex-direction: row; 
  justify-content: space-around;
  max-width: 80%;
  margin: auto;
  margin-top: 200px;
}

/* CONTAINER DA TELA DE LOGIN */
.container__login{
  border: 1px solid #ced4da;
  width: 420px;
  height: 300;
  margin: 140px auto 0px;
  border-radius: 5px;
  align-items: center;
  box-shadow: 0px 0px 5px gray;
  overflow: hidden;
}

.dropdown {
  position: relative;
  display: inline-block;
  justify-content: center;
  background-color: #f3f1f1;
  border-radius: 5px;
  height: 250px;
  width: 200px;
  margin: 10px;
}

.dropdown img{
  display: flex;
  justify-content: center;
  width: 60%;
  height: 60%;
  margin: 12%;
}

.dropbtn {
  background-color: #068574;
  color: white;
  padding: 16px;
  font-size: 22px;
  border: none;
  cursor: pointer;
  border-radius: 0 0 5px 5px;
  height: 20%;
  width: 200px;
}

/* Menu Principal link de venda, correção de css 
.dropbtn .btn-venda{
  text-decoration: none;
}*/

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  font-size: 18px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #e2dddd}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #035c50;
}

/* ALINHAMENTO DOS FORMULÁRIOS */
.linha {
  display: flex;
}

.coluna {
  min-width: 300px;
  padding: 15px 0;
}

.form {
  margin: 20px auto;
  width: 100%;
  min-width: 360px;
  max-width: 1900px;
}

.campo {
  display: block;
  width: 80%;
  padding: 0.9rem;
  margin: 5px 0;
  font-size: 1rem;
  line-height: 1.5rem;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.campo.-radio {
  width: unset;
}

/* ASTERISCO PARA ITENS OBRIGATÓRIOS EM FORMULÁRIOS */
.obrigatorio {
  color: #ff0000;
  font-style: italic;
  font-size: 18px;
}

/* ESTILO DE BOTÕES GERAL */
.btn {
  width: 150px;
  height: 40px;
  border-radius: 5px;
  border: none;
  text-align: center;
  line-height: 40px;
  background-color: #119b9b;
  text-decoration: none;
  font-size: 15px;
  font-weight: bold;
  text-transform: uppercase;
  color: #f5f5f5;
  margin-top: 40px;
  margin-right: 20px;
  cursor: pointer;
  transition: 300ms;
}

/* ESTILO DE BOTÃO PESQUISA DE RELATÓRIO (Quase igual ao botão padrão, é necessário?) */
.btn-PesquisaRelatorio{
  width: 200px;
  height: 50px;
  border-radius: 5px;
  border: none;
  text-align: center;
  line-height: 40px;
  background-color: #119b9b;
  text-decoration: none;
  font-size: 15px;
  font-weight: bold;
  text-transform: uppercase;
  color: #f5f5f5;
  margin-right: 20px;
  cursor: pointer;
  transition: 300ms;
}

.btn:hover {
  text-decoration: none;
  background-color: #068574;
  border-color: #068574;
}

/* ESTILOS DE BOTÕES ESPECÍFICOS */
.btn.btn-salvar {
	background-color: #4fca4f;
}
.btn.btn-salvar:hover {
	background-color: #2a8d2a;
}
.btn.btn-cancelar {
	background-color: #e41515;
}

.btn.btn-cancelar:hover {
	background-color: #ad1414;
}

.btn.btn-PercentualFilial {
  background-color: #119b9b;
  width: 200px;
  height: 80px;
}

.btn.btn-TotalFilial {
  background-color: #119b9b;
  width: 200px;
  height: 80px;
}

.btn.btn-TopMaisVendidos {
  background-color: #119b9b;
  width: 200px;
  height: 80px;
}

/* BARRA DE PESQUISA */
.pesquisa {
  display: flex;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  min-width: 50%;
}

.txt__pesquisa {
  background-color: transparent;
  font-size: 18px;
  border: none;
  height: 32px;
  width: 460px;
}

.btn__pesquisa {
  width: 20px;
  height: 20px;
  margin: 10px 8px;
}

/* TABELAS */
table {
  border-radius: 5px;
  border-collapse:collapse ;
  width: 57em;
  border: 1px solid #ced4da;
}

thead {
  border-top: 1px solid #a5a5a5;
  border-bottom: 1px solid #a5a5a5;
  border: 1px solid #ced4da;
}

tr:hover {
  background-color:#3d80df;
  color: #fff;
}

thead tr:hover {
  background-color: transparent;
  color: inherit;
}

th {
  font-weight: normal;
  text-align: left;
  border-radius: 10px;
}

th, td {
  padding: 0.2em 2em;
}

